# system
.cache/
.local/
.bash_history
.ipython/

# frappe bench
sites/*/private/
sites/*/public/
sites/*/locks/
logs/
*.log

# compiled python
__pycache__/
*.pyc

# bench / frappe
sites/*/locks/

# frappe bench runtime files
config/pids/
*.rdb

# frappe apps (IMPORTANT)
apps/frappe/
apps/*/
