# Database configuration
DB_HOST=mariadb
DB_ROOT_USER=root
DB_ROOT_PASSWORD=root

# Site Configuration
SITE_NAME=precision.local
ADMIN_PASSWORD=admin

# Integrations Configuration
WHATSAPP_ACCESS_TOKEN=your_access_token_here
WHATSAPP_PHONE_NUMBER_ID=your_phone_id_here
WHATSAPP_VERIFY_TOKEN=precision_verify_token

FACEBOOK_PAGE_ACCESS_TOKEN=your_fb_access_token_here
FACEBOOK_VERIFY_TOKEN=precision_fb_token
